/* GENERAL */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: #4472C4;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #4c62e2;
}

h2 {
    color: #ffffff;
} 

/* FORM STYLES */
#cv-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #86ceab;
    border: 1px solid #97d9bb;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input,
textarea,
select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Ajoutez ces règles à votre feuille de style CSS */

.action-buttons-container {
    display: flex;
    gap: 10px; /* Espace entre les boutons, ajustez selon votre préférence */
    min-width: 300px; /* Largeur minimale du conteneur */
    margin-top: 20px; /* Espace au-dessus des boutons, ajustez selon votre préférence */
}

.action-button {
    flex: 1; /* Les boutons prennent une part égale de l'espace disponible */
    padding: 15px;
    background-color: #3f70d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #498bcd;
}




/* CV FORM*/
*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
    color: #4472C4;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  p{
    margin: 0 0 1rem;
  }
  
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: #4472C4;
  }
  
  .text-darkblue{
    color: #002060;
  }
  
  .text-uppercase{
    text-transform: uppercase; 
  }
  
  .icon{
    margin-right: .5rem;
  }
  
  .cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .section{
    margin-bottom: 1.5rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }
  
  .portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  
  /* RIGHT COLUMN */
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  
  /* HEADER */
  .header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  
  /* CONTENT */
  .content{
    grid-area: content;
    padding: 50px;
  }
  
  .experience-list{
    list-style-type: circle;
  }
 
  

  @media print {
    .hidden-for-print {
        display: none !important;
    }
}


.file-input {
    width: 120px; /* ou la largeur que vous souhaitez */
    height: 30px;
    padding: 5px;
  }


  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 50px auto;
  }
  
  .left-side {
    padding: 30px;
    background-color: #86ceab;
    border: 1px solid #97d9bb;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .right-side {
    padding: 30px;
    background-color: #F2F2F2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }