/* GENERAL */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #4472C4;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #4c62e2;
}

h2 {
    color: #ffffff;
} 
h3{
  color: #498bcd;
}
/* FORMulaire */
#cv-form {
  width: 100%;
  max-width: 800px; /* Ajustez cette valeur selon vos préférences */
  margin: 50px auto;
  padding: 30px;
  background-color: #86ceab;
  border: 1px solid #97d9bb;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
}

.form-section {
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input,
textarea,
select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Ajoutez ces règles à votre feuille de style CSS */

.action-buttons-container {
    display: flex;
    gap: 10px; /* Espace entre les boutons, ajustez selon votre préférence */
    min-width: 300px; /* Largeur minimale du conteneur */
    margin-top: 20px; /* Espace au-dessus des boutons, ajustez selon votre préférence */
}

.action-button {
    flex: 1; /* Les boutons prennent une part égale de l'espace disponible */
    padding: 15px;
    background-color: #3f70d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #498bcd;
}

/* Styles communs pour tous les modèles */
.cv-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: 50px auto;
}

.section {
  margin-bottom: 1.5rem;
}

.left-column {
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.portrait {
  border-radius: 50%;
  max-width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

.right-column {
  padding: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "content";
}

.header {
  padding: 20px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

.content {
  padding: 20px;
}

.experience-list {
  list-style-type: circle;
}

.file-input {
  width: 120px;
  height: 30px;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.left-side, .right-side {
  box-sizing: border-box;
  width: 100%;
}

/* Modèle 1 (Bleu) */
.model1 .left-column {
  background-color: #4472C4;
  color: white;
}

/* Modèle 2 (Rouge et Noir) */
.model2 .left-column {
  background-color: #db6060;
  color: #000000;
}

/* Modèle 3 (Vert et Gris) */
.model3 .left-column {
  background-color: #7ee97e;
  color: #7a7a7a;
}


@media print {
  body * {
    visibility: hidden;
  }
  
  #generated-cv-container, #generated-cv-container * {
    visibility: visible;
  }

  #generated-cv-container {
    position: absolute;
    left: 0;
    top: 0;
  }
}
